*{
    margin: 0;
    padding: 0;
  }
  .nav-item > .nav-link {
    color: white;
    font-family: Poppins;
  }
  
  .banner {
    height: 560px;
    font-family: Poppins;
  }
  .container2{
    margin-top: 5%;
  }
  .kiri {
    text-align: center;
    border-radius: 35px;
    color: white;
    background-color: black;
    float: left;
    width: 15%;
    height: 50px;
  }
  .kanan {
    color: white;
    float: right;
  } 
  .container1{
    margin:50px;
    margin-top: 15%;
  }
  .wrapper-text {
    background-color: #bde4eb;
    width: 142px;
    height: 64px;
    border-radius: 0px 10px 10px 0px;
    margin-top: 70px;
    margin-bottom: 35px;
  }
  .text{
    color: white;
    
  }
  .ajk{
    margin-top: 45px;
  }
  .kartu1{
    margin-left: 30px;
    width: 265px;
    color: white;
    margin-top: 10px;
    background-color: #232323;
  }
  .kartu{
    margin-left: 30px;
    width: 265px;
    color: white;
    margin-top: 50px;
    background-color: #232323;
  }
  .container3{
    border-radius: 10px;
    margin: 45px;
    margin-left: 45px;
    color: white;
    padding: 45px;
    background-color: #232323;
  }
  .text-baru {
    font-size: 30px;
    padding: 20px 20px;
  }
  .keunggulan {
    border-radius: 10px;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .about {
    margin-top: 150px;
    font-family: Jura;
  }
  .k3 {
    padding-top: 10px;
  }
  .k1,
  .k2,
  .k3,
  .k4 {
    margin: 0 20px;
  }
   .text-banner {
    margin-left: 70px;
    margin-top: 30px;
  }
  .text-banner > p {
    margin-top: 30px;
    font-size: 20px;
  }
  .text-banner > p > img {
    margin-right: 5px;
  } 
  .banner-2-text > h3 {
    color: #fff;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 42px;
    margin-left: 53px;
  }
  .border-oppo {
    text-align: center;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .spek-oppo98 {
    color: #fff;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 53px;
    margin-top: 18px;
  }
  .harga-oppo98 {
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 53px;
    margin-top: 20px;
  }
  .button-banner-2 {
    width: 203px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #232323;
    font-family: poppins;
    margin-left: 53px;
    margin-top: 18px;
    transition: background-color 0.3s;
  }
  .button-banner-2:hover {
    background-color: #ffffff;
    color: #232323;
  }
  .banner-3-text > h3 {
    color: #fff;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 42px;
    margin-left: 53px;
  }
  .border-xiaomi {
    text-align: center;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .spek-xiaomi13t {
    color: #fff;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 53px;
    margin-top: 18px;
  }
  .harga-xiaomi13t {
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 53px;
    margin-top: 20px;
  }
  .button-banner-3 {
    width: 203px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #232323;
    font-family: poppins;
    margin-left: 53px;
    margin-top: 18px;
    transition: background-color 0.3s;
  }
  .button-banner-3:hover {
    background-color: #ffffff;
    color: #232323;
  }
  footer {
    background: #2F2F2F;
  }
  
  footer ul {
    list-style: none;
  
  }
  
  footer ul li {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .copyrightText {
    background: #2F2F2F;
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  